.testimonial-carousel {
    transition: all 0.5s ease-in-out;
  }

.testimonial-bullet {
    border-radius: 50% !important;
    padding: 0.375rem !important;
}  

.testimonial-bullet-active {
    border-radius: 50% !important;
    padding: 0.450rem !important;
} 